@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

i {
  color: #ffb648;
  margin-right: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffb648;
}

.right-top-nav > i {
  display: none;
  position: fixed;
  top: 2vh;
  right: 2vh;
  font-size: 50px;
  color: #fff;
}
#portfolio {
  display: flex;
  flex-direction: column;
  width: calc(100%-10vh);
  min-height: 100%;
  height: auto;
  background-color: #dcdcdc;
  margin-left: 10vh;
  overflow-x: hidden;
}

/*aside-nav*/
label,
input {
  display: none;
}
#aside-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vh;
  height: 100vh;
  background-color: #fff;
  padding: 4vh 2vh 4vh 2vh;
  color: #ffb648;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aside-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30vh;
}
.aside-nav-list li a {
  display: flex;
  align-items: center;
  width: 15vh;
  height: 40px;
}
.jin-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vh;
  height: 10vh;
  margin: -2vh;
  transition: 0.4s ease-in-out;
}
.jin-logo img {
  width: 4vh;
  height: 4vh;
  margin: 0 auto;
}
.aside-nav-list li a .fa {
  font-size: 25px;
  width: 6vh;
  text-align: center;
}
.aside-nav-list li a span {
  display: none;
  font-weight: 800;
  font-size: 15px;
  margin-left: 10px;
}
/* home */
#home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffb648;
  padding-top: 10vh;
}
.myprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  text-align: center;
}
.profile {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #fff;
  object-fit: cover;
}
.prof-but {
  margin-top: 30px;
  padding: 12px 35px 12px 35px;
  font-weight: 600;
  color: #ffb648;
  border-radius: 5px;
  background-color: rgb(255, 240, 218);
}
.home-info {
  width: 50%;
  height: auto;
  font-size: 60px;
  font-weight: 800;
  line-height: 80px;
  color: #fff;
}
.home-info-sub {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 50px 0 20px 10px;
}
section:nth-child(1) {
  margin: 0;
}
/*main - 공통 코드*/
section {
  width: 100%;
  height: auto;
  padding: 0 13vh 0 13vh;
  margin: 15vh 0 15vh 0;
  color: #333;
}
.sect-top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3vh;
  font-size: 15px;
  font-weight: 550;
}
.sect-line {
  width: 7%;
  height: 3px;
  background-color: #666;
  border: 0;
  margin-right: 5px;
}

/*about*/
#about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #dcdcdc;
}
.about-title {
  width: 100%;
  height: auto;
  font-size: 35px;
  font-weight: 800;
  padding: 1vh 1vh 1vh 1vh;
  margin-bottom: 5vh;
}
.about-contents {
  font-size: 22px;
  padding: 5vh 5vh 5vh 5vh;
  border-radius: 5vh;
  background-color: #fff;
}
.about-contents p span {
  font-weight: 600;
}
/*skill*/
#skill {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #dcdcdc;
}
.skill-title {
  width: 100%;
  height: auto;
  font-size: 35px;
  font-weight: 800;
  padding: 1vh 1vh 1vh 1vh;
  margin-bottom: 5vh;
}
.skill-contents {
  padding: 7vh 5vh 5vh 5vh;
  border-radius: 5vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.skill-all{
  padding : 5vh;
}
.skill-all div {
  width: 10vh;
  height: 10vh;

}
.skill-all img {
  width: 10vh;
  height: fit-content;

}
.skill-all p {
  margin-top: 1vh;
  text-align: center;
  font-size: 13px;
}
/*projects*/
#proj {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #dcdcdc;
}
.proj-title {
  width: 100%;
  height: auto;
  font-size: 35px;
  font-weight: 800;
  padding: 1vh 1vh 1vh 1vh;
  margin-bottom: 5vh;
}
.proj-cont {
  padding: 5vh 5vh 5vh 5vh;
  border-radius: 5vh;
  background-color: #fff;
  margin-bottom: 5vh;
}
.proj-cont:last-child {
  margin-bottom: 0;
}
/*contact*/
#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #dcdcdc;
}
.contact-title {
  width: 100%;
  height: auto;
  font-size: 35px;
  font-weight: 800;
  padding: 1vh 1vh 1vh 1vh;
  margin-bottom: 5vh;
}
.contact-contents {
  padding: 5vh 5vh 5vh 5vh;
  border-radius: 5vh;
  background-color: #fff;
  margin-bottom: 3vh;
}
.contact-contents div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 550;
}

section:last-child {
  margin-bottom: 5vh;
}
.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-button img {
  width: 6vh;
  height: auto;
  padding: 1vh;
  border-radius: 2vh;
  margin: 2vh;
}
.contact-button .insta {
  width: 5vh;
  height: auto;
  padding: 0;
}
.contact-button .insta-mobile{
  display: none;
}
/*하단 저작권*/
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 2vh;
  color: #fff;
  height: 10vh;
}

@media (min-width: 961px) {
  /*hover 사이드바*/
  #aside-nav:hover {
    width: 22vh;
  }
  #aside-nav:hover .jin-logo {
    width: 22vh;
  }
  #aside-nav:hover li span {
    display: flex;
  }
  .aside-nav-list li:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ffb648;
    cursor: pointer;
  }
}
/*반응형*/

@media (max-width: 1280px) {
  /*데스크탑*/
  /*aside-nav*/
  /* home */
  .profile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
  }
  .prof-but {
    margin-top: 30px;
    padding: 12px 35px 12px 35px;
    font-weight: 600;
    color: #ffb648;
    border-radius: 5px;
    background-color: rgb(255, 240, 218);
  }
  .home-info {
    width: 50%;
    height: auto;
    font-size: 45px;
    font-weight: 800;
    line-height: 80px;
    color: #fff;
  }
  .home-info-sub {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin: 50px 0 20px 10px;
  }
  section:nth-child(1) {
    margin: 0;
  }
  /*about*/
  .about-contents {
    font-size: 22px;
    padding: 5vh 5vh 5vh 5vh;
    border-radius: 5vh;
    background-color: #fff;
  }
  .about-contents p span {
    font-weight: 600;
  }
  /*skill*/
  #skill {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #dcdcdc;
  }
  .skill-title {
    width: 100%;
    height: auto;
    font-size: 35px;
    font-weight: 800;
    padding: 1vh 1vh 1vh 1vh;
    margin-bottom: 5vh;
  }
  .skill-contents {
    padding: 7vh 10vh 5vh 10vh;
    border-radius: 5vh;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skill-all div {
    width: 10vh;
    height: 10vh;
  }
  .skill-all img {
    width: 10vh;
    height: fit-content;
  }
  .skill-all p {
    margin-top: 1vh;
    text-align: center;
    font-size: 13px;
  }
  /*projects*/
  #proj {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #dcdcdc;
  }
  .proj-title {
    width: 100%;
    height: auto;
    font-size: 35px;
    font-weight: 800;
    padding: 1vh 1vh 1vh 1vh;
    margin-bottom: 5vh;
  }
  .proj-cont {
    padding: 5vh 5vh 5vh 5vh;
    border-radius: 5vh;
    background-color: #fff;
    margin-bottom: 5vh;
  }
  .proj-cont:last-child {
    margin-bottom: 0;
  }
  /*contact*/

  /*하단 저작권*/
}
@media (max-width: 960px) {
  /*노트북*/
  #portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #dcdcdc;
    margin-left: 0;
    overflow-x: hidden;
    position: relative;
  }

  /*aside-nav*/
  input[id="sidebar"] {
    display: none;
  }

  #aside-nav {
    position: fixed;
    top: 0;
    left: -18vh;
    width: 18vh;
    height: 100vh;
    background-color: #fff;
    padding: 2vh 1vh 2vh 1vh;
    color: #ffb648;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 5;
  }

  .aside-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
  }
  .aside-nav-list li {
    display: flex;
    align-items: center;
    width: 10vh;
    height: 40px;
  }
  .jin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 10vh;
  }
  .aside-nav-list li a .fa {
    font-size: 22px;
    width: 6vh;
    text-align: center;
  }
  .aside-nav-list li a span {
    display: flex;
    font-weight: 800;
    font-size: 14px;
    margin-left: 8px;
  }

  /*모바일 메뉴바 클릭 - 사이드바 보이게*/

  #aside-nav label[for*="sidebar"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100v;
    z-index: -1;
  }
  header > div > label {
    display: block;
    position: relative;
    width: 100%;
    z-index: 4;
  }
  header div label i {
    right: 1vh;
    top: 1vh;
    font-size: 35px;
    position: fixed;
    color: #fff;
  }
  .background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.35s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }

  input[id="sidebar"]:checked ~ header label {
    background-position: -24px 0;
  }
  input[id="sidebar"]:checked ~ #portfolio #aside-nav {
    left: 0;
  }
  input[id="sidebar"]:checked ~ .background {
    opacity: 1;
    visibility: visible;
  }

  /* home */
  #home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffb347;
    padding-top: 10vh;
  }
  .myprof {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    text-align: center;
  }
  .profile {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
  }
  .prof-but {
    display: none;
  }
  .home-info {
    width: 100%;
    height: 50%;
    font-size: 35px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    padding: 6vh;
    color: #fff;
  }
  .home-info-sub {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 20px 0 0 0;
  }
  section:nth-child(1) {
    margin: 0;
  }
  /*main - 공통 코드*/
  section {
    width: 100%;
    height: auto;
    padding: 5vh 6vh 5vh 6vh;
    margin: 0;
    color: #333;
  }
  .sect-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vh;
    font-size: 10px;
    font-weight: 550;
  }
  .sect-line {
    width: 7%;
    height: 3px;
    background-color: #666;
    border: 0;
  }

  /*about*/
  .about-title {
    font-size: 20px;
  }
  .about-contents {
    font-size: 16px;
  }
  .about-contents p span {
    font-weight: 600;
  }
  /*skill*/
  .skill-title {
    font-size: 20px;
  }
  .skill-all {
    padding: 2vh;
  }
  .skill-all img {
    width: 10vh;
    height: fit-content;
  }
  .skill-all p {
    font-size: 13px;
  }
  /*projects*/
  .proj-title {
    font-size: 20px;
  }

  /*contact*/
  #contact {
    padding-bottom: 0;
  }
  .contact-title {
    font-size: 20px;
  }
  .contact-contents div {
    font-size: 15px;
    font-weight: 550;
  }
  section:last-child {
    margin-bottom: 2vh;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  /*타블렛*/
}
@media (max-width: 576px) {
  /*모바일*/

  #portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #dcdcdc;
    margin-left: 0;
    overflow-x: hidden;
    position: relative;
  }

  /*aside-nav*/
  input[id="sidebar"] {
    display: none;
  }

  #aside-nav {
    position: fixed;
    top: 0;
    left: -18vh;
    width: 18vh;
    height: 100vh;
    background-color: #fff;
    padding: 2vh 1vh 2vh 1vh;
    color: #ffb648;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 5;
  }

  .aside-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30vh;
  }
  .aside-nav-list li {
    display: flex;
    align-items: center;
    width: 10vh;
    height: 40px;
  }
  .jin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 10vh;
  }
  .aside-nav-list li a .fa {
    font-size: 22px;
    width: 6vh;
    text-align: center;
  }
  .aside-nav-list li a span {
    display: flex;
    font-weight: 800;
    font-size: 14px;
    margin-left: 8px;
  }

  /*모바일 메뉴바 클릭 - 사이드바 보이게*/

  #aside-nav label[for*="sidebar"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100v;
    z-index: -1;
  }
  header > div > label {
    display: block;
    position: relative;
    width: 100%;
    z-index: 4;
  }
  header div label i {
    right: 1vh;
    top: 1vh;
    font-size: 35px;
    position: fixed;
    color: #fff;
  }
  .background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.35s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }

  input[id="sidebar"]:checked ~ header label {
    background-position: -24px 0;
  }
  input[id="sidebar"]:checked ~ #portfolio #aside-nav {
    left: 0;
  }
  input[id="sidebar"]:checked ~ .background {
    opacity: 1;
    visibility: visible;
  }

  /* home */
  #home {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffb648;
    padding-top: 10vh;
  }
  .myprof {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40vh;
    text-align: center;
  }
  .profile {
    max-width: 350px;
    max-height: 350px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
  }
  .prof-but {
    display: none;
  }
  .home-info {
    width: 100%;
    height: auto;
    font-size: 22px;
    font-weight: 800;
    line-height: 60px;
    text-align: center;
    color: #fff;
  }
  .home-info-sub {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin: 20px 0 0 0;
  }
  section:nth-child(1) {
    margin: 0;
  }
  /*main - 공통 코드*/
  section {
    width: 100%;
    height: auto;
    padding: 5vh 6vh 5vh 6vh;
    margin: 0;
    color: #333;
  }
  .sect-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vh;
    font-size: 10px;
    font-weight: 550;
  }
  .sect-line {
    width: 7%;
    height: 3px;
    background-color: #666;
    border: 0;
  }

  /*about*/
  .about-title {
    font-size: 20px;
  }
  .about-contents {
    font-size: 14px;
  }

  /*skill*/
  .skill-title {
    font-size: 20px;
  }
  .skill-all {
    padding: 2vh;
  }
  .skill-all img {
    width: 10vh;
    height: fit-content;
  }
  .skill-all p {
    font-size: 12px;
  }
  /*projects*/
  .proj-title {
    font-size: 20px;
  }

  /*contact*/
  #contact {
    padding-bottom: 0;
  }
  .contact-title {
    font-size: 20px;
  }
  .contact-contents div {
    font-size: 12px;
    font-weight: 550;
  }
  section:last-child {
    margin-bottom: 2vh;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .contact-button .insta{
    display: block;
  }
  .contact-button .insta-web{
    display: none;
  }

}
