* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
/*aside-nav*/
#aside-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vh;
  height: 100vh;
  background-color: #fff;
}
#portfolio {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  width: calc(100%-10vh);
  min-height: 100%;
  height: auto;
  background-color: aquamarine;
  margin-left: 10vh;
  overflow-x: hidden;
}

/* head-home */
#home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 10vh 0 10vh;
  background-color: cadetblue;
}
.myprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  text-align: center;
}
.profile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.prof-but {
  margin-top: 30px;
  padding: 12px 35px 12px 35px;
  font-weight: 600;
  color: cadetblue;
  border-radius: 5px;
  background-color: lightblue;
}
.home-info {
  width: 50%;
  height: auto;
  font-size: 50px;
  font-weight: 800;
  line-height: 80px;
  color: #fff;
}
